@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Teko:wght@300..700&family=Tiny5&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  --accent-color: #ffff01;
  --dark-background: #083ce1;
  --secondary-accent: #106afb;
  --light-background: #f9ffff;
  --black: #010a26;

  --display-font: 'Tiny5', sans-serif;
  --secondary-font: 'Teko', sans-serif;
  --content-font: 'Outfit', sans-serif;
}

html,
body {
  background-color: var(--light-background);
  margin: 0;
  padding: 0;
}

::-moz-selection {
  color: var(--light-background);
  background: var(--secondary-accent);
}

::selection {
  color: var(--light-background);
  background: var(--secondary-accent);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  border-left: 0.1rem solid var(--secondary-accent);
  background-color: var(--light-background);
}

::-webkit-scrollbar-thumb {
  background: var(--dark-background);
  background: var(--secondary-accent);
}
