.post {
  padding: 1rem;
  padding-left: 3rem;

  header {
    font-family: var(--secondary-font);
    height: fit-content;
    margin: 1rem 0;

    h1 {
      font-size: 2.5rem;
      line-height: 2rem;
      color: var(--dark-background);
      margin: 0;
      max-width: 30ch;
    }

    p {
      position: relative;
      font-weight: 600;
      color: var(--secondary-accent);
      margin: 0;
      z-index: 0;

      &::after {
        content: '';
        display: block;
        position: relative;
        width: 6ch;
        transform: translate(3ch, -0.75rem);
        z-index: -1;
        border-bottom: 0.5rem solid var(--accent-color);
      }
    }
  }

  section {
    font-family: var(--content-font);

    & > p {
      font-size: 1.15rem;
      text-indent: 1rem;
      max-width: 60ch;
      color: var(--black);
      margin: 0.75rem 0;

      & > a {
        color: var(--secondary-accent);

        &:active,
        &:focus {
          color: var(--dark-background);
        }
      }
    }

    & > h2,
    & > h3,
    & > h4,
    & > h5 {
      // text-align: center;
      margin-top: 1rem;
      font-family: var(--secondary-font);
      color: var(--dark-background);
    }

    & > h2 {
      font-size: 2rem;
      line-height: 1.75rem;
      margin-bottom: 0.75rem;
    }

    & > h3 {
      font-size: 1.5rem;
      line-height: 1.25rem;
      margin-bottom: 0.5rem;
      font-weight: 600;
    }

    & > h4 {
      font-size: 1.3rem;
      line-height: 1rem;
      margin-bottom: 0.2rem;
      font-weight: 500;
    }
  }
}
